body {
	font-family: "MullerRegular", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
}

/* Utility */

.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0px;
	height: 0px;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

/* Grid элементы сетки на странице*/

.container {
	position: relative;
	width: 1880px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}