@font-face { 
    font-family: "MullerMedium";
    src: url("/css/fonts/Muller-Medium/Muller-Medium.eot");
    src: url("./Muller-Medium.eot")format("embedded-opentype"),
    url("/css/fonts/Muller-Medium/Muller-Medium.woff") format("woff"),
    url("/css/fonts/Muller-Medium/Muller-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}