.footer {
    padding-top: 72px;
    background: #F2F2F2;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.footer-icons-row {
    margin-bottom: 32px;
}

.footer-icons-row a {
    margin-left: 30px;
}

.footer-icons h4 {
    margin-bottom: 5px;
    width: 295px;
    height: 26px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.01px;
}

.footer-icons p {
    width: 439px;
    height: 48px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00761905px;
    color: #666666;
}

.footer-contacts{
    margin-top: 76px;
    margin-bottom: 72px;
    display: flex;
    justify-content: space-between;
}


.telephone {
    display: flex;
    align-items: center;
}

.telephone p {
    width: 189px;
    height: 30px;

    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.1px;
    margin-left: 8px;
}

.footer-street {
    display: flex;
    flex-direction: column;
    align-items:center;
    /* margin-left: 124px; */
}

.footer-street h4 {
    width: 183px;
    height: 30px;

    font-size: 21px;
    line-height: 30px;

    text-align: center;
    letter-spacing: -0.1px;

}

.footer-street p {
    width: 133px;
    height: 24px;

    line-height: 24px;

    text-align: center;
    letter-spacing: -0.00761905px;

    color: #666666;
}

.footer-mail {
    display: flex;
    flex-direction: column;
}

.mail {
    /* margin-left: 95px; */
    display: flex;
    align-items: center;
}

.mail p {
    margin-left: 10px;
    width: 211px;
    height: 30px;

    font-size: 21px;
    line-height: 30px;
    
    letter-spacing: -0.1px;
    
    /* text-decoration: underline #F9572E; */
}

.line {
    margin-left: 40px;
    width: 211px;
    background: #F9572E;;
    border: 2px solid #F9572E;
}