.footer {
    padding-top: 72px;
    background: #F2F2F2;
}

.footer-icons {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.footer-icons-row {
    margin-bottom: 32px;
}

.footer-icons-row a {
    margin-left: 30px;
}

.footer-icons h4 {
    margin-bottom: 5px;
    width: 295px;
    height: 26px;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.01px;
}

.footer-icons p {
    width: 439px;
    height: 48px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.00761905px;
    color: #666666;
}

.footer-call {
}
.telephone {
}

