.header {
   padding: 48px 109px 110px;

}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-call {
    font-family: 'MullerRegular';
    font-size: 21px;
    line-height: 25px;
}

.header-call a {
    transition: color 0.2s ease;
}

.header-call a:hover {
    color: #F9572E;
}


.phone {
    width: 24px;
    height: 23.98px;
}

