.interior {
    font-family: 'MullerMedium', sans-serif;
    font-size: 16px;
}

.interior-title {
    padding-top: 184.08px;
    padding-bottom: 52.17px;
}

.interior-heading {
    padding-bottom: 8px;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.1px;
}

.interior-text {
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #33B5A3;
}

.interior-wrapper-subtitle {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
/* 
.slide-active {

} */

.slide-active-text {
    width: 144px;
    height: 60px;
    font-size: 13px;
    line-height: 20px;
    color: #666666;
}

.offer-slider {
    display: flex;
    justify-content: space-between;
    width: 73px;
    height: 44px;
}