/* .repair {
    background-color: #fff;
}


.repair-content {
    width: 508px;
}

.repair-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, 508px);
    column-gap: 312px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repair-heading {
    width: 508px;
    height: 128px;
    font-family: "MullerMedium";
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.5px;
}

.repair-heading+* {
    margin-top: 27px;
}

.repair-text {
    width: 456px;
    height: 60px;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.01px;
}

.repair-text+* {
    margin-top: 44px;
}

.repair-btn-row {
    display: flex;
    align-items: center;
}

.repair-btn+* {
    margin-left: 31px;
}

.repair-video {
    position: absolute;
    width: 150px;
    height: 150px;
}
.repair-video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.repair-video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    line-height: 30px;
    color: #F9572E;
}
.repair-video-object {
    width: 150px;
    height: 150px;
} */



.repair {
    padding: 20px 21px 20px 106px;
}



.repair-row {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, 940px);
    /* column-gap: 312px; */
}

.repair-content {
    /* margin-right: 312px; */
    max-width: 508px;
}

.repair-header-logo {
    padding-top: 48px;
    padding-bottom: 205px;
}

.repair-heading {
    width: 508px;
    height: 128px;
    font-family: "MullerMedium";
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.5px;

}

.repair-heading+* {
    margin-top: 30px;
}

.repair-text {
    width: 456px;
    height: 60px;
    font-size: 21px;
    line-height: 30px;
    letter-spacing: -0.01px;
}

.repair-text+* {
    margin-top: 57px;
}


.repair-btn-row {
    display: flex;
    align-items: center;
}

.repair-btn-row p {
    width: 143px;
    height: 24px;

    line-height: 24px;
    letter-spacing: -0.01px;

    color: #666666;
}

.repair-btn {
    display: flex;
}

.repair-btn+* {
    margin-left: 31px;
}

.repair-content-footer {
    padding-top: 258px;
}

.repair-indicator {
    display: flex;
    align-items: center;
}

.repair-indicator p {
    margin-left: 12px;
    font-family: 'MullerMedium';
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01px;
    color: #F9572E;
}

.story-video {
    position: relative;
    width: 940px;
}


.story-video-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.story-video-btn p {
    padding-top: 19px;
    font-size: 21px;
    line-height: 30px;
    color: #F9572E;
}

.story-video-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


 
 
