.service {
    margin-bottom: 134px;
}

.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-header p {
    margin-top: 127px;
    padding: 11px 15px 7px 21px;

    font-family: 'MullerMedium', sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.2px;

    width: 696px;
    height: 68px;
    background-color: white;

}

.service-header-wrapper {
    z-index: -1;
	position: absolute;
    width: 984px;
    height: 647px;
    margin-top: 160.93px;
    margin-bottom: 134px;
}

.modal {
    padding-top: 41px;
    margin-left: 243px;
    display: flex;
}

.modal-heading {
    width: 984px;

}

.modal-title {
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 65px;
}

.modal-title p {
    margin-left: 17px;
    width: 298px;
    height: 48px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: left;
}

.modal-subtitle {
    margin-top: 51px;
}

.modal-input {
    /* display:block;
    align-items: center; */
    margin-bottom: 29px;
    width: 500px;
    height: 60px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    font-size:18px;
    text-align: left;
    padding:0 20px;
    outline:0
}

.show {
    display: block;
}

.hide {
    display: none;
}


.error {
    position: absolute;
    padding-left: 6px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-top: -12px;
    width: 98px;
    height: 24px;

    font-size: 13px;
    line-height: 24px;

    color: #F9572E;
    background-color: white;
}

.service-btn {
    margin-top: 18px;
    margin-left: 125px;
}

.modal-footer {
    margin-top: 22px;
    margin-left: 132px;
    margin-bottom: 58px;
    width: 235px;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

.modal-footer a {
    color: #F9572E;
    
}


.check-title {
    margin-top: 188px;
    margin-bottom: 41px;
    text-align: center;
}


.check-subtitle p {
    margin-bottom: 345px;

    line-height: 24px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    text-align: center;
}