.service-header {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-header p {
    margin-top: 127px;
    padding: 11px 15px 7px 21px;

    font-family: 'MullerMedium', sans-serif;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.2px;

    width: 696px;
    height: 68px;
    background-color: white;

}

.service-header-wrapper {
    z-index: -1;
	position: absolute;
    width: 984px;
    height: 647px;
    margin-top: 160.93px;
}

.modal {
    padding-top: 41px;
    padding-left: 308px;
}


.modal-title {
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 51px;
}

.modal-title p {
    margin-left: 17px;
    width: 298px;
    height: 48px;
    line-height: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: left;
}




.btn {
    margin-top: 48px;
    margin-left: 65px;
}

.modal-footer {
    margin-top: 22px;
    margin-left: 74px;
    width: 235px;
    height: 40px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #666666;
}

.modal-footer a {
    color: #F9572E;
}